{
  "name": "dummy-app-seed",
  "version": "0.0.0",
  "description": "A starter project for AngularJS, Ecmascript6, sass.",
  "repository": "",
  "license": "MIT",
  "author": "sarfaraz_designer@live.in",
  "ignore": [
    "**/.*",
    "node_modules",
    "bower_components",
    "test",
    "tests"
  ],
  "dependencies": {
    "angular": "^1.5.8",
    "angular-animate": "^1.4.0",
    "bootstrap-sass": "^3.3.7"
  },
  "resolutions": {
    "angular": "^1.5.8"
  }
}
