<!doctype>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- all bower specific styles -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- all app specific styles -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body class="page_404">
  <center>
    <h1>Ohh.....The Requested page is no longer available.</h1>
    <figure>
      <img src="/public/images/error-img.png" alt="404">
    </figure>
    <h3>Go back to <a href="/">Home</a></h3>
  </center>
  
  <center class="copy-right">
    <p>2016 © All rights are reserved</p>
  </center>

  <!-- all bower specific scripts -->
  <!-- bower:js -->
  <!-- endbower -->
  
  <!-- all app specific scripts -->
  <!-- inject:js -->
  <!-- endinject -->

</body>
</html>