<!doctype>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- all bower specific styles -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- all app specific styles -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>

  <body ng-strict-di ng-app="dummy-app" ng-controller="homeController as ctrl">
    
    <main-navbar></main-navbar>

    <!-- static content start -->

    <section>
      <!-- header -->
      <header>
        <center>
          <h1>Home heading</h1>
        </center>
      </header>
      <!-- end header -->

    </section>

    <!-- end static content -->
    
    <!-- all bower specific scripts -->
    <!-- bower:js -->
    <!-- endbower -->
    
    <!-- all app specific scripts -->
    <!-- inject:js -->
    <!-- endinject -->
    
  </body>
</html>
